$background-color: #F0F7FF;
$primary-color: #F0F7FF;
$primary-color-darker: #9da6b1;
$secondary-color: #408EBA;
$border-color: #FFF;
$text-color: #404040;
$text-color-hover: #6d6b6b;
$text-color-active: #242323;