$white: #fff;
$dark: #202D36;
$dark-gray: #2d3e4b;
$black: #000;
$gray: #7e7e7e;

$shadow-black: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);

html[data-theme="light"] {
    --background-color: #{$white};
    --primary-color: #{$white};
    --secondary-color: #{$gray};
    --text-color: #{$black};
}
html[data-theme="dark"] {
    --background-color: #{$dark};
    --primary-color: #{$dark};
    --secondary-color: #{$gray};
    --text-color: #{$white};
}

$background-color: var(--background-color);
$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$text-color: var(--text-color);