@import "./colors.scss";
@import "./media-mixin.scss";

@mixin container-items-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin main-screen {
    .mainContainer {
        width: 1200px;
        
        @include media-screen-xs {
            @include padding-x (20px);
            padding-bottom: 15px;
            width: 100%;
        } 
        @include media-screen-sm {
            @include padding-x (20px);
            padding-bottom: 15px;
            width: 100%;
        }
        @include media-screen-md {
            @include padding-x (20px);
            padding-bottom: 15px;
            width: 100%;
        }
        @include media-screen-lg {
            @include padding-x (20px);
            padding-bottom: 15px;
            width: 100%;
        }

        background-color: $background-color;
        min-height: 100dvh;
        box-sizing: border-box;


        @content;
    }
}
@mixin container-x {
    display: flex;
    flex-direction: row;
}
@mixin container-y {
    display: flex;
    flex-direction: column;
}
@mixin fill-container {
    display: flex;
    width: 100%;
}
@mixin padding-x ($value) {
    padding-left: $value;
    padding-right: $value;
}
@mixin padding-y ($value) {
    padding-top: $value;
    padding-bottom: $value;
}
@mixin margin-y ($value) {
    margin-top: $value;
    margin-bottom: $value;
}
@mixin margin-x ($value) {
    margin-left: $value;
    margin-right: $value;
}