$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400px;

@mixin media-screen-xs {
    @media(max-width: $screen-sm) {
        @content;
    }
}
@mixin media-screen-sm {
    @media(max-width: $screen-md) {
        @content;
    }
}
@mixin media-screen-md {
    @media(max-width: $screen-lg) {
        @content;
    }
}
@mixin media-screen-lg {
    @media(max-width: $screen-xl) {
        @content;
    }
}
@mixin media-screen-xl {
    @media(max-width: $screen-xxl) {
        @content;
    }
}
@mixin media-screen-xxl {
    @media(min-width: $screen-xxl) {
        @content;
    }
}