@import "../../style/base.scss";

.navBar {
    @include padding(30px);
    @include container-items-center;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: $background-color;
    z-index: 50;

    .innerNav {
        @include max-content-width;

        .title {
            @include font($font-size-xl, $font-semibold);

            cursor: pointer;
        }
    }
    

}