$background-color: #ffffff;
$primary-color: #cc3817;
$primary-color-darker: #fff2ef;
$secondary-color: #c4ad2f;
$secondary-color-darker: #a08c1b;
$border-color: #FFF;
$text-color: #000000;
$text-color-hover: #bdbdbd;
$text-color-active: #868686;

$shadow-black: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);