$background-color: #220e08;
$primary-color: #b32907;
$primary-color-darker: #681a07;
$secondary-color: #c4ad2f;
$secondary-color-darker: #a08c1b;
$border-color: #FFF;
$text-color: #ffffff;
$text-color-hover: #bdbdbd;
$text-color-active: #868686;

$shadow-black: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);