@import "../../style/base.scss";

@include main-container {
    .contentContaier {
        @include max-content-width;
        @include container-items-center;

        margin-top: 30px;

        @include media-screen-xs {
            margin-top: 5px;
        }
    }
    .footerContainer {
        @include max-content-width;

        margin-top: 30px;

        .title {
            @include font($font-size-lg, $font-semibold);
            margin-bottom: 20px
        }
        .footerContent {
            @include container-x;

            overflow-x: auto;
            gap: 20px;
        }

        @include media-screen-xs {
            margin-top: 5px;
        }
    }
}